* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}
html * {
    box-sizing: border-box;
    outline: none!important;
}
.container-side {
    background-color: #1d1237;
    height: 100vh;
    position: relative;
}
ol,
ul {
    list-style: none;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}
.content {
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    padding-left: 4rem;
    padding-top: 4rem;
}

::-webkit-scrollbar {
    width: 12px;
    background-color: #1b123d;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #66689f;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #1b123d;
}