<div class="sidebar">
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <p>TFT App</p>
                <li class="">
                    <div class="btn-group dropright">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="../../../assets/icon/dashboard.svg" alt="">
                  </button>
                        <div class="dropdown-menu">
                            <a href="" routerLink="/Home">Home</a>
                            <a href="" routerLink="/Build/late">Create Build</a>
                            <a href="" routerLink="/Description">Create Description</a>
                        </div>
                    </div>
                </li>
                <li class="">
                    <div class="btn-group dropright">
                        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="../../../assets/icon/champions.svg" alt="">
                </button>
                        <div class="dropdown-menu">
                            <a href="" routerLink="/Champions">Champions</a>
                            <a href="" routerLink="/Items">Items</a>
                            <a href="" routerLink="/Synergies">Synergies</a>
                            <a href="" routerLink="/Portals">Portals</a>
                            <a href="" routerLink="/Auguments">Auguments</a>
                        </div>
                        
                    </div>
                </li>

            </ul>
        </nav>


    </div>

</div>